@using ContentModels = Umbraco.Web.PublishedModels;
@inherits UmbracoViewPage<Umbraco.Web.PublishedModels.Content>
@{
    Layout = "master.cshtml";
}
@Html.Partial("_PageHeading")

<div class="container">
    @Html.Partial("_Sidebar", Model)
    <div class="content">
        @Html.Partial("_NestedContent")
    </div>
</div>


