@using ContentModels = Umbraco.Web.PublishedModels;
@inherits UmbracoViewPage<Umbraco.Web.PublishedModels.FormPage>
@{
  Layout = "master.cshtml";
  var form = Model.Form.ToString();
}
@Html.Partial("_PageHeading")

<div class="container">

</div>
