@model Umbraco.Forms.Mvc.Models.FieldViewModel
<div class="star-rating">
  <label class="star-rating__label">
    <input class="star-rating__label__input" type="radio" name="stars" value="1" />
    <i class="fas fa-star star-rating__label__icon"></i>
  </label>
  <label class="star-rating__label">
    <input class="star-rating__label__input" type="radio" name="stars" value="2" />
    <i class="fas fa-star star-rating__label__icon"></i>
    <i class="fas fa-star star-rating__label__icon"></i>
  </label>
  <label class="star-rating__label">
    <input class="star-rating__label__input" type="radio" name="stars" value="3" />
    <i class="fas fa-star star-rating__label__icon"></i>
    <i class="fas fa-star star-rating__label__icon"></i>
    <i class="fas fa-star star-rating__label__icon"></i>
  </label>
  <label class="star-rating__label">
    <input class="star-rating__label__input" type="radio" name="stars" value="4" />
    <i class="fas fa-star star-rating__label__icon"></i>
    <i class="fas fa-star star-rating__label__icon"></i>
    <i class="fas fa-star star-rating__label__icon"></i>
    <i class="fas fa-star star-rating__label__icon"></i>
  </label>
  <label class="star-rating__label">
    <input class="star-rating__label__input" type="radio" name="stars" value="5" />
    <i class="fas fa-star star-rating__label__icon"></i>
    <i class="fas fa-star star-rating__label__icon"></i>
    <i class="fas fa-star star-rating__label__icon"></i>
    <i class="fas fa-star star-rating__label__icon"></i>
    <i class="fas fa-star star-rating__label__icon"></i>
  </label>
</div>
