@include component(blog-post) {
  margin-bottom: 50px;

  @include part(description) {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 0 10px;

    @include bp($tablet) {
      padding: 0;
    }
  }

  @include part(image) {
    width: 100%;
    height: 250px;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;

    @include bp($tablet) {
      width: 100%;
      height: 400px;
      margin-bottom: 25px;
    }
  }

  @include part(details) {
    margin-bottom: 20px;
    padding: 0 10px;

    @include bp($tablet) {
      padding: 0;
    }
  }

  @include part(author) {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  @include part(date) {
    display: inline-block;
    margin-bottom: 10px;
    color: $palette_a;
  }

  @include part(text) {
    padding: 0 10px;

    @include bp($tablet) {
      padding: 0;
    }
  }
}
