@include component(card-links) {
  margin-bottom: 50px;

  @include part (card) {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.35);
    box-sizing: border-box;
    padding-bottom: 15px; //margin on button wouldn't work on mobile devices.

    &:last-child {
      margin-right: 0;
    }

    @include bp($tablet) {
      display: inline-block;
      width: 45%;
      margin-right: 3%;
    }

    @include part(title) {
      padding: 10px 15px;
      background-color: $palette_b;
      color: $white;
      font-size: 1.4rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    @include part(image) {
      width: 100%;
      padding-bottom: 60%;
      background-size: cover;
      background-position: center center;
    }

    @include part(summary) {
      padding: 15px;
    }

    @include part(button) {
      margin: 0 15px;
    }
  }
}
