@include component(footer) {
  position: absolute;
  height: 470px;
  bottom: 0;
  width: 100%;
  background-color: $black;

  @include part(content) {
    height: auto;
    padding: 50px 0;
    margin: 0 auto;
    background-color: $palette_e;

    @include part(column) {
      color: lighten($palette_b, 20);
      vertical-align: top;
      font-size: 0.95rem;
      line-height: 1.6rem;
      width: 100%;
      display: block;
      margin-bottom: 25px;


      @include bp($landscapetablet) {
        width: 30%;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }

        @include option(3) {
          width: 300px;
        }
      }

      @include bp($desktop) {
        margin-right: 5%;
      }

      @include part(heading) {
        color: $white;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
    }
  }

  @include part(bottom) {
    background-color: $black;
    padding: 20px 0;

    @include part(wrapper) {
      position: relative;
    }

    @include part(logo) {
      display: inline-block;
      margin-right: 50px;

      @include part(img) {
        height: 30px;
      }
    }

    @include part(copyright) {
      color: lighten($palette_b, 20);
      display: none;
      height: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @include bp($tablet) {
        display: inline-block;
      }
    }
  }
}
