@include component(how-does-it-work) {
  margin-bottom: 50px;

  @include part(heading) {
    text-align: center;
  }

  @include part(sub-text) {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 25px;
  }

  @include part(video) {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  @include part(step) {
    text-align: center;

    @include part(heading) {
      color: $palette_a;
    }

    @include part(project-image) {
      position: relative;
      max-width: 145px;

      @include bp($tablet) {
        max-width: unset;
      }
    }
  }
}
