@include component(page-heading) {
  padding: 20px 0;
  margin-bottom: 50px;
  background-color: $palette_e;
  border-bottom: 5px solid #CCC;
  border-top: 5px solid #384045;
  min-height: 50px;

  @include part(heading) {
    color: $white;
    border-bottom: 5px solid $palette_a;
    display: inline-block;
    font-size: 32px;
    font-weight: 200;
    line-height: 32px;
    margin: 0 0 -25px;
    padding: 0 0 25px;
    position: relative;
  }
}
