@include component(solicitor-about) {
  width: 75%;
  margin-right: 4%;
  display: inline-block;
  padding-bottom: 50px;

  @include part(heading) {
    margin-bottom: 30px;
  }

  @include part(logo) {
    display: inline-block;
    width: 35%;
    margin-right: 4%;
    margin-bottom: 20px;
  }

  @include part(short-text) {
    margin-bottom: 20px;
    font-size: 1.4rem;
    display: inline-block;
    width: 60%;
    vertical-align: top;
    box-sizing: border-box;
    padding-top: 10px;

    @include part(claim) {
      padding: 15px 0;
      box-sizing: border-box;

      @include part(button) {
        width: 100%;
        text-align: center;
      }
    }
  }
}
