<div class="footer">
    <div class="footer__content">
        <div class="container">
            <div class="footer__content__column --1">
                <div class="footer__content__column__heading">
                    Newsletter
                </div>
            Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.
                </div>

            <div class="footer__content__column --2">
                <div class="footer__content__column__heading">
                    Twitter
                </div>
                @*@Html.Partial("_Twitter")*@
            </div>

            <div class="footer__content__column --3">
                <div class="footer__content__column__heading">
                    Facebook
                </div>
                @Html.Partial("_Facebook")
            </div>

            @*<div class="footer__content__column --4">
                <div class="footer__content__column__heading">
                    Follow Us
                </div>

            </div>*@
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom__wrapper">
                <div class="footer__bottom__logo">
                    <a href="/" class="footer__bottom__logo__link">
                        <img alt="Solicitor-Compare Logo" class="footer__bottom__logo__img" src="~/assets/img/Logo.png">
                    </a>
                </div>
                <div class="footer__bottom__copyright">
                    Copyright @DateTime.Today.Year. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
