<header class="header">
    <div class="header__container container">
        <div class="header__logo-container">
            <a href="/" class="header__logo">
                <img alt="Solicitor-Compare Logo" class="header__logo__img" src="~/assets/img/Logo.png">
            </a>
        </div>
        <div class="header__navigation-wrapper">
            <div class="header__navigation">
                @Html.Partial("_Navigation")
            </div>
        </div>
    </div>
</header>
