@using SolicitorCompare.Helpers
@using Umbraco.Core.Composing.CompositionExtensions
@model Umbraco.Web.PublishedModels.Solicitor

@{
  var helper = Umbraco.Web.Composing.Current.UmbracoHelper;
  var claimForm = helper.ContentSingleAtXPath(XPath.RTAClaim);
  if (claimForm == null)
  {
    claimForm = helper.Content(1337);
  }
  var query = "?solicitor=" + HttpUtility.UrlEncode(Model.Name);
  var url = claimForm.Url + query;
}
<div class="solicitor-about__heading__container">
    <h2 class="solicitor-about__heading">About Us</h2>
</div>
<div class="solicitor-about">
    <img class="solicitor-about__logo" src="@Model.Logo.Url"/>
    <div class="solicitor-about__short-text">
        @Model.Summary
        <div class="solicitor-about__short-text__claim ">
            <a href="@url" class="solicitor-about__short-text__claim__button button --secondary --dark">Claim Now</a>
        </div>

    </div>
    <div class="solicitor-about__long-text">@Html.Raw(Model.AboutUs)</div>
</div>
