-- Script Date: 22/05/2019 17:21  - Generated by ExportSqlCe version 3.5.1.14
-- Database information:
-- Locale Identifier: 2057
-- Encryption Mode: 
-- Case Sensitive: False
-- Database: Umbraco.sdf
-- ServerVersion: 4.0.8482.1
-- DatabaseSize: 2162688
-- Created: 16/04/2019 11:59

-- User Table information:
-- Number of tables: 60
-- cmsContentNu: 19 row(s)
-- cmsContentType: 8 row(s)
-- cmsContentType2ContentType: 0 row(s)
-- cmsContentTypeAllowedContentType: 3 row(s)
-- cmsDictionary: 0 row(s)
-- cmsDocumentType: 1 row(s)
-- cmsLanguageText: 0 row(s)
-- cmsMacro: 3 row(s)
-- cmsMacroProperty: 6 row(s)
-- cmsMember: 0 row(s)
-- cmsMember2MemberGroup: 0 row(s)
-- cmsMemberType: 9 row(s)
-- cmsPropertyType: 30 row(s)
-- cmsPropertyTypeGroup: 7 row(s)
-- cmsTagRelationship: 0 row(s)
-- cmsTags: 18 row(s)
-- cmsTemplate: 10 row(s)
-- UFRecordDataBit: -1 row(s)
-- UFRecordDataDateTime: -1 row(s)
-- UFRecordDataInteger: -1 row(s)
-- UFRecordDataLongString: -1 row(s)
-- UFRecordDataString: 0 row(s)
-- UFRecordFields: 0 row(s)
-- UFRecords: 0 row(s)
-- UFUserFormSecurity: -1 row(s)
-- UFUserSecurity: -1 row(s)
-- umbracoAccess: 0 row(s)
-- umbracoAccessRule: 0 row(s)
-- umbracoAudit: 20 row(s)
-- umbracoCacheInstruction: 55 row(s)
-- umbracoConsent: 0 row(s)
-- umbracoContent: 18 row(s)
-- umbracoContentSchedule: 0 row(s)
-- umbracoContentVersion: 21 row(s)
-- umbracoContentVersionCultureVariation: 0 row(s)
-- umbracoDataType: 62 row(s)
-- umbracoDocument: 1 row(s)
-- umbracoDocumentCultureVariation: 0 row(s)
-- umbracoDocumentVersion: 4 row(s)
-- umbracoDomain: 0 row(s)
-- umbracoExternalLogin: 0 row(s)
-- umbracoKeyValue: 2 row(s)
-- umbracoLanguage: 1 row(s)
-- umbracoLock: 10 row(s)
-- umbracoLog: 173 row(s)
-- umbracoMediaVersion: 17 row(s)
-- umbracoNode: 103 row(s)
-- umbracoPropertyData: 16 row(s)
-- umbracoRedirectUrl: 0 row(s)
-- umbracoRelation: 0 row(s)
-- umbracoRelationType: 3 row(s)
-- umbracoServer: 2 row(s)
-- umbracoUser: 1 row(s)
-- umbracoUser2NodeNotify: 0 row(s)
-- umbracoUser2UserGroup: 2 row(s)
-- umbracoUserGroup: 5 row(s)
-- umbracoUserGroup2App: 12 row(s)
-- umbracoUserGroup2NodePermission: 0 row(s)
-- umbracoUserLogin: 4 row(s)
-- umbracoUserStartNode: 0 row(s)

CREATE TABLE [cmsContentNu] (
  [nodeId] int NOT NULL
, [published] bit NOT NULL
, [data] ntext NOT NULL
, [rv] bigint NOT NULL
);
GO
CREATE TABLE [cmsContentType] (
  [pk] int NOT NULL  IDENTITY (550,1)
, [nodeId] int NOT NULL
, [alias] nvarchar(255) NULL
, [icon] nvarchar(255) NULL
, [thumbnail] nvarchar(255) NOT NULL DEFAULT ('folder.png')
, [description] nvarchar(1500) NULL
, [isContainer] bit NOT NULL DEFAULT ('0')
, [isElement] bit NOT NULL DEFAULT ('0')
, [allowAtRoot] bit NOT NULL DEFAULT ('0')
, [variations] int NOT NULL DEFAULT ('1')
);
GO
CREATE TABLE [cmsContentType2ContentType] (
  [parentContentTypeId] int NOT NULL
, [childContentTypeId] int NOT NULL
);
GO
CREATE TABLE [cmsContentTypeAllowedContentType] (
  [Id] int NOT NULL
, [AllowedId] int NOT NULL
, [SortOrder] int NOT NULL DEFAULT ('0')
);
GO
CREATE TABLE [cmsDictionary] (
  [pk] int NOT NULL  IDENTITY (1,1)
, [id] uniqueidentifier NOT NULL
, [parent] uniqueidentifier NULL
, [key] nvarchar(450) NOT NULL
);
GO
CREATE TABLE [cmsDocumentType] (
  [contentTypeNodeId] int NOT NULL
, [templateNodeId] int NOT NULL
, [IsDefault] bit NOT NULL DEFAULT ('0')
);
GO
CREATE TABLE [cmsLanguageText] (
  [pk] int NOT NULL  IDENTITY (1,1)
, [languageId] int NOT NULL
, [UniqueId] uniqueidentifier NOT NULL
, [value] nvarchar(1000) NOT NULL
);
GO
CREATE TABLE [cmsMacro] (
  [id] int NOT NULL  IDENTITY (4,1)
, [uniqueId] uniqueidentifier NOT NULL
, [macroUseInEditor] bit NOT NULL DEFAULT ('0')
, [macroRefreshRate] int NOT NULL DEFAULT ('0')
, [macroAlias] nvarchar(255) NOT NULL
, [macroName] nvarchar(255) NULL
, [macroCacheByPage] bit NOT NULL DEFAULT ('1')
, [macroCachePersonalized] bit NOT NULL DEFAULT ('0')
, [macroDontRender] bit NOT NULL DEFAULT ('0')
, [macroSource] nvarchar(255) NOT NULL
, [macroType] int NOT NULL
);
GO
CREATE TABLE [cmsMacroProperty] (
  [id] int NOT NULL  IDENTITY (7,1)
, [uniquePropertyId] uniqueidentifier NOT NULL
, [editorAlias] nvarchar(255) NOT NULL
, [macro] int NOT NULL
, [macroPropertySortOrder] int NOT NULL DEFAULT ('0')
, [macroPropertyAlias] nvarchar(50) NOT NULL
, [macroPropertyName] nvarchar(255) NOT NULL
);
GO
CREATE TABLE [cmsMember] (
  [nodeId] int NOT NULL
, [Email] nvarchar(1000) NOT NULL DEFAULT ('''')
, [LoginName] nvarchar(1000) NOT NULL DEFAULT ('''')
, [Password] nvarchar(1000) NOT NULL DEFAULT ('''')
);
GO
CREATE TABLE [cmsMember2MemberGroup] (
  [Member] int NOT NULL
, [MemberGroup] int NOT NULL
);
GO
CREATE TABLE [cmsMemberType] (
  [pk] int NOT NULL  IDENTITY (10,1)
, [NodeId] int NOT NULL
, [propertytypeId] int NOT NULL
, [memberCanEdit] bit NOT NULL DEFAULT ('0')
, [viewOnProfile] bit NOT NULL DEFAULT ('0')
, [isSensitive] bit NOT NULL DEFAULT ('0')
);
GO
CREATE TABLE [cmsPropertyType] (
  [id] int NOT NULL  IDENTITY (117,1)
, [dataTypeId] int NOT NULL
, [contentTypeId] int NOT NULL
, [propertyTypeGroupId] int NULL
, [Alias] nvarchar(255) NOT NULL
, [Name] nvarchar(255) NULL
, [sortOrder] int NOT NULL DEFAULT ('0')
, [mandatory] bit NOT NULL DEFAULT ('0')
, [validationRegExp] nvarchar(255) NULL
, [Description] nvarchar(2000) NULL
, [variations] int NOT NULL DEFAULT ('1')
, [UniqueID] uniqueidentifier NOT NULL DEFAULT (NEWID())
);
GO
CREATE TABLE [cmsPropertyTypeGroup] (
  [id] int NOT NULL  IDENTITY (34,1)
, [contenttypeNodeId] int NOT NULL
, [text] nvarchar(255) NOT NULL
, [sortorder] int NOT NULL
, [uniqueID] uniqueidentifier NOT NULL DEFAULT (NEWID())
);
GO
CREATE TABLE [cmsTagRelationship] (
  [nodeId] int NOT NULL
, [tagId] int NOT NULL
, [propertyTypeId] int NOT NULL
);
GO
CREATE TABLE [cmsTags] (
  [id] int NOT NULL  IDENTITY (19,1)
, [group] nvarchar(100) NOT NULL
, [languageId] int NULL
, [tag] nvarchar(200) NOT NULL
);
GO
CREATE TABLE [cmsTemplate] (
  [pk] int NOT NULL  IDENTITY (13,1)
, [nodeId] int NOT NULL
, [alias] nvarchar(100) NULL
);
GO
CREATE TABLE [UFRecordDataBit] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [Key] uniqueidentifier NOT NULL
, [Value] bit NULL
);
GO
CREATE TABLE [UFRecordDataDateTime] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [Key] uniqueidentifier NOT NULL
, [Value] datetime NULL
);
GO
CREATE TABLE [UFRecordDataInteger] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [Key] uniqueidentifier NOT NULL
, [Value] int NULL
);
GO
CREATE TABLE [UFRecordDataLongString] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [Key] uniqueidentifier NOT NULL
, [Value] ntext NULL
);
GO
CREATE TABLE [UFRecordDataString] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [Key] uniqueidentifier NOT NULL
, [Value] nvarchar(255) NOT NULL
);
GO
CREATE TABLE [UFRecordFields] (
  [Key] uniqueidentifier NOT NULL
, [FieldId] uniqueidentifier NOT NULL
, [Record] int NOT NULL
, [Alias] nvarchar(255) NOT NULL
, [DataType] nvarchar(255) NOT NULL
);
GO
CREATE TABLE [UFRecords] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [Form] uniqueidentifier NOT NULL
, [Created] datetime NOT NULL
, [Updated] datetime NOT NULL
, [CurrentPage] uniqueidentifier NULL
, [UmbracoPageId] int NULL
, [IP] nvarchar(255) NULL
, [MemberKey] nvarchar(255) NULL
, [UniqueId] uniqueidentifier NOT NULL
, [State] nvarchar(50) NULL
, [RecordData] ntext NOT NULL
);
GO
CREATE TABLE [UFUserFormSecurity] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [User] nvarchar(50) NOT NULL
, [Form] uniqueidentifier NOT NULL
, [HasAccess] bit NOT NULL
, [AllowInEditor] bit NOT NULL
, [SecurityType] int NOT NULL
);
GO
CREATE TABLE [UFUserSecurity] (
  [User] nvarchar(50) NOT NULL
, [ManageDataSources] bit NOT NULL
, [ManagePreValueSources] bit NOT NULL
, [ManageWorkflows] bit NOT NULL
, [ManageForms] bit NOT NULL
);
GO
CREATE TABLE [umbracoAccess] (
  [id] uniqueidentifier NOT NULL
, [nodeId] int NOT NULL
, [loginNodeId] int NOT NULL
, [noAccessNodeId] int NOT NULL
, [createDate] datetime NOT NULL DEFAULT (GETDATE())
, [updateDate] datetime NOT NULL DEFAULT (GETDATE())
);
GO
CREATE TABLE [umbracoAccessRule] (
  [id] uniqueidentifier NOT NULL
, [accessId] uniqueidentifier NOT NULL
, [ruleValue] nvarchar(255) NOT NULL
, [ruleType] nvarchar(255) NOT NULL
, [createDate] datetime NOT NULL DEFAULT (GETDATE())
, [updateDate] datetime NOT NULL DEFAULT (GETDATE())
);
GO
CREATE TABLE [umbracoAudit] (
  [id] int NOT NULL  IDENTITY (21,1)
, [performingUserId] int NOT NULL
, [performingDetails] nvarchar(1024) NULL
, [performingIp] nvarchar(64) NULL
, [eventDateUtc] datetime NOT NULL DEFAULT (GETDATE())
, [affectedUserId] int NOT NULL
, [affectedDetails] nvarchar(1024) NULL
, [eventType] nvarchar(256) NOT NULL
, [eventDetails] nvarchar(1024) NULL
);
GO
CREATE TABLE [umbracoCacheInstruction] (
  [id] int NOT NULL  IDENTITY (80,1)
, [utcStamp] datetime NOT NULL
, [jsonInstruction] ntext NOT NULL
, [originated] nvarchar(500) NOT NULL
, [instructionCount] int NOT NULL DEFAULT ('1')
);
GO
CREATE TABLE [umbracoConsent] (
  [id] int NOT NULL  IDENTITY (1,1)
, [current] bit NOT NULL
, [source] nvarchar(512) NOT NULL
, [context] nvarchar(128) NOT NULL
, [action] nvarchar(512) NOT NULL
, [createDate] datetime NOT NULL DEFAULT (GETDATE())
, [state] int NOT NULL
, [comment] nvarchar(255) NULL
);
GO
CREATE TABLE [umbracoContent] (
  [nodeId] int NOT NULL
, [contentTypeId] int NOT NULL
);
GO
CREATE TABLE [umbracoContentSchedule] (
  [id] uniqueidentifier NOT NULL
, [nodeId] int NOT NULL
, [languageId] int NULL
, [date] datetime NOT NULL
, [action] nvarchar(255) NOT NULL
);
GO
CREATE TABLE [umbracoContentVersion] (
  [id] int NOT NULL  IDENTITY (77,1)
, [nodeId] int NOT NULL
, [versionDate] datetime NOT NULL DEFAULT (GETDATE())
, [userId] int NULL
, [current] bit NOT NULL
, [text] nvarchar(255) NULL
);
GO
CREATE TABLE [umbracoContentVersionCultureVariation] (
  [id] int NOT NULL  IDENTITY (1,1)
, [versionId] int NOT NULL
, [languageId] int NOT NULL
, [name] nvarchar(255) NOT NULL
, [date] datetime NOT NULL
, [availableUserId] int NULL
);
GO
CREATE TABLE [umbracoDataType] (
  [nodeId] int NOT NULL
, [propertyEditorAlias] nvarchar(255) NOT NULL
, [dbType] nvarchar(50) NOT NULL
, [config] ntext NULL
);
GO
CREATE TABLE [umbracoDocument] (
  [nodeId] int NOT NULL
, [published] bit NOT NULL
, [edited] bit NOT NULL
);
GO
CREATE TABLE [umbracoDocumentCultureVariation] (
  [id] int NOT NULL  IDENTITY (1,1)
, [nodeId] int NOT NULL
, [languageId] int NOT NULL
, [edited] bit NOT NULL
, [available] bit NOT NULL
, [published] bit NOT NULL
, [name] nvarchar(255) NULL
);
GO
CREATE TABLE [umbracoDocumentVersion] (
  [id] int NOT NULL
, [templateId] int NULL
, [published] bit NOT NULL
);
GO
CREATE TABLE [umbracoDomain] (
  [id] int NOT NULL  IDENTITY (1,1)
, [domainDefaultLanguage] int NULL
, [domainRootStructureID] int NULL
, [domainName] nvarchar(255) NOT NULL
);
GO
CREATE TABLE [umbracoExternalLogin] (
  [id] int NOT NULL  IDENTITY (1,1)
, [userId] int NOT NULL
, [loginProvider] nvarchar(4000) NOT NULL
, [providerKey] nvarchar(4000) NOT NULL
, [createDate] datetime NOT NULL DEFAULT (GETDATE())
);
GO
CREATE TABLE [umbracoKeyValue] (
  [key] nvarchar(256) NOT NULL
, [value] nvarchar(255) NULL
, [updated] datetime NOT NULL DEFAULT (GETDATE())
);
GO
CREATE TABLE [umbracoLanguage] (
  [id] int NOT NULL  IDENTITY (2,1)
, [languageISOCode] nvarchar(14) NULL
, [languageCultureName] nvarchar(100) NULL
, [isDefaultVariantLang] bit NOT NULL DEFAULT ('0')
, [mandatory] bit NOT NULL DEFAULT ('0')
, [fallbackLanguageId] int NULL
);
GO
CREATE TABLE [umbracoLock] (
  [id] int NOT NULL
, [value] int NOT NULL
, [name] nvarchar(64) NOT NULL
);
GO
CREATE TABLE [umbracoLog] (
  [id] int NOT NULL  IDENTITY (174,1)
, [userId] int NULL
, [NodeId] int NOT NULL
, [entityType] nvarchar(50) NULL
, [Datestamp] datetime NOT NULL DEFAULT (GETDATE())
, [logHeader] nvarchar(50) NOT NULL
, [logComment] nvarchar(4000) NULL
, [parameters] nvarchar(500) NULL
);
GO
CREATE TABLE [umbracoMediaVersion] (
  [id] int NOT NULL
, [path] nvarchar(255) NULL
);
GO
CREATE TABLE [umbracoNode] (
  [id] int NOT NULL  IDENTITY (1166,1)
, [uniqueId] uniqueidentifier NOT NULL DEFAULT (NEWID())
, [parentId] int NOT NULL
, [level] int NOT NULL
, [path] nvarchar(150) NOT NULL
, [sortOrder] int NOT NULL
, [trashed] bit NOT NULL DEFAULT ('0')
, [nodeUser] int NULL
, [text] nvarchar(255) NULL
, [nodeObjectType] uniqueidentifier NULL
, [createDate] datetime NOT NULL DEFAULT (GETDATE())
);
GO
CREATE TABLE [umbracoPropertyData] (
  [id] int NOT NULL  IDENTITY (738,1)
, [versionId] int NOT NULL
, [propertyTypeId] int NOT NULL
, [languageId] int NULL
, [segment] nvarchar(256) NULL
, [intValue] int NULL
, [decimalValue] numeric(38,6) NULL
, [dateValue] datetime NULL
, [varcharValue] nvarchar(512) NULL
, [textValue] ntext NULL
);
GO
CREATE TABLE [umbracoRedirectUrl] (
  [id] uniqueidentifier NOT NULL
, [contentKey] uniqueidentifier NOT NULL
, [createDateUtc] datetime NOT NULL
, [url] nvarchar(255) NOT NULL
, [culture] nvarchar(255) NULL
, [urlHash] nvarchar(40) NOT NULL
);
GO
CREATE TABLE [umbracoRelation] (
  [id] int NOT NULL  IDENTITY (21,1)
, [parentId] int NOT NULL
, [childId] int NOT NULL
, [relType] int NOT NULL
, [datetime] datetime NOT NULL DEFAULT (GETDATE())
, [comment] nvarchar(1000) NOT NULL
);
GO
CREATE TABLE [umbracoRelationType] (
  [id] int NOT NULL  IDENTITY (4,1)
, [typeUniqueId] uniqueidentifier NOT NULL
, [dual] bit NOT NULL
, [parentObjectType] uniqueidentifier NOT NULL
, [childObjectType] uniqueidentifier NOT NULL
, [name] nvarchar(255) NOT NULL
, [alias] nvarchar(100) NULL
);
GO
CREATE TABLE [umbracoServer] (
  [id] int NOT NULL  IDENTITY (3,1)
, [address] nvarchar(500) NOT NULL
, [computerName] nvarchar(255) NOT NULL
, [registeredDate] datetime NOT NULL DEFAULT (GETDATE())
, [lastNotifiedDate] datetime NOT NULL
, [isActive] bit NOT NULL
, [isMaster] bit NOT NULL
);
GO
CREATE TABLE [umbracoUser] (
  [id] int NOT NULL  IDENTITY (1,1)
, [userDisabled] bit NOT NULL DEFAULT ('0')
, [userNoConsole] bit NOT NULL DEFAULT ('0')
, [userName] nvarchar(255) NOT NULL
, [userLogin] nvarchar(125) NOT NULL
, [userPassword] nvarchar(500) NOT NULL
, [passwordConfig] nvarchar(500) NULL
, [userEmail] nvarchar(255) NOT NULL
, [userLanguage] nvarchar(10) NULL
, [securityStampToken] nvarchar(255) NULL
, [failedLoginAttempts] int NULL
, [lastLockoutDate] datetime NULL
, [lastPasswordChangeDate] datetime NULL
, [lastLoginDate] datetime NULL
, [emailConfirmedDate] datetime NULL
, [invitedDate] datetime NULL
, [createDate] datetime NOT NULL DEFAULT (GETDATE())
, [updateDate] datetime NOT NULL DEFAULT (GETDATE())
, [avatar] nvarchar(500) NULL
, [tourData] ntext NULL
);
GO
CREATE TABLE [umbracoUser2NodeNotify] (
  [userId] int NOT NULL
, [nodeId] int NOT NULL
, [action] nchar(1) NOT NULL
);
GO
CREATE TABLE [umbracoUser2UserGroup] (
  [userId] int NOT NULL
, [userGroupId] int NOT NULL
);
GO
CREATE TABLE [umbracoUserGroup] (
  [id] int NOT NULL  IDENTITY (6,1)
, [userGroupAlias] nvarchar(200) NOT NULL
, [userGroupName] nvarchar(200) NOT NULL
, [userGroupDefaultPermissions] nvarchar(50) NULL
, [createDate] datetime NOT NULL DEFAULT (GETDATE())
, [updateDate] datetime NOT NULL DEFAULT (GETDATE())
, [icon] nvarchar(255) NULL
, [startContentId] int NULL
, [startMediaId] int NULL
);
GO
CREATE TABLE [umbracoUserGroup2App] (
  [userGroupId] int NOT NULL
, [app] nvarchar(50) NOT NULL
);
GO
CREATE TABLE [umbracoUserGroup2NodePermission] (
  [userGroupId] int NOT NULL
, [nodeId] int NOT NULL
, [permission] nvarchar(255) NOT NULL
);
GO
CREATE TABLE [umbracoUserLogin] (
  [sessionId] uniqueidentifier NOT NULL
, [userId] int NOT NULL
, [loggedInUtc] datetime NOT NULL
, [lastValidatedUtc] datetime NOT NULL
, [loggedOutUtc] datetime NULL
, [ipAddress] nvarchar(255) NULL
);
GO
CREATE TABLE [umbracoUserStartNode] (
  [id] int NOT NULL  IDENTITY (1,1)
, [userId] int NOT NULL
, [startNode] int NOT NULL
, [startNodeType] int NOT NULL
);
GO
INSERT INTO [cmsContentNu] ([nodeId],[published],[data],[rv]) VALUES (1104,0,N'{"properties":{"heroBanner":[{"culture":"","seg":"","val":"[{\"key\":\"40d86b7c-4f49-4b58-89d0-1c4075fc3a22\",\"name\":\"Item 1\",\"ncContentTypeAlias\":\"heroSlide\",\"backgroundImage\":null,\"headingText\":\"<p>Text fucking<span class=\\\"text-emphasis\\\"> emphasis</span> n that</p>\",\"contentText\":\"\",\"contentList\":\"\",\"buttons\":null}]"}],"callToAction":[]},"cultureData":{},"urlSegment":"home"}',0);
GO
INSERT INTO [cmsContentNu] ([nodeId],[published],[data],[rv]) VALUES (1104,1,N'{"properties":{"heroBanner":[{"culture":"","seg":"","val":"[{\"key\":\"40d86b7c-4f49-4b58-89d0-1c4075fc3a22\",\"name\":\"Item 1\",\"ncContentTypeAlias\":\"heroSlide\",\"backgroundImage\":null,\"headingText\":\"<p>Text fucking<span class=\\\"text-emphasis\\\"> emphasis</span> n that</p>\",\"contentText\":\"\",\"contentList\":\"\",\"buttons\":null}]"}],"callToAction":[]},"cultureData":{},"urlSegment":"home"}',0);
GO
INSERT INTO [cmsContentNu] ([nodeId],[published],[data],[rv]) VALUES (1128,0,N'{"properties":{},"cultureData":{},"urlSegment":"design"}',0);
GO
SET IDENTITY_INSERT [cmsContentType] ON;
GO
INSERT INTO [cmsContentType] ([pk],[nodeId],[alias],[icon],[thumbnail],[description],[isContainer],[isElement],[allowAtRoot],[variations]) VALUES (532,1031,N'Folder',N'icon-folder',N'icon-folder',null,0,0,1,0);
GO
INSERT INTO [cmsContentType] ([pk],[nodeId],[alias],[icon],[thumbnail],[description],[isContainer],[isElement],[allowAtRoot],[variations]) VALUES (533,1032,N'Image',N'icon-picture',N'icon-picture',null,0,0,1,0);
GO
INSERT INTO [cmsContentType] ([pk],[nodeId],[alias],[icon],[thumbnail],[description],[isContainer],[isElement],[allowAtRoot],[variations]) VALUES (534,1033,N'File',N'icon-document',N'icon-document',null,0,0,1,0);
GO
SET IDENTITY_INSERT [cmsContentType] OFF;
GO
INSERT INTO [cmsContentTypeAllowedContentType] ([Id],[AllowedId],[SortOrder]) VALUES (1031,1031,0);
GO
INSERT INTO [cmsContentTypeAllowedContentType] ([Id],[AllowedId],[SortOrder]) VALUES (1031,1032,0);
GO
INSERT INTO [cmsContentTypeAllowedContentType] ([Id],[AllowedId],[SortOrder]) VALUES (1031,1033,0);
GO
INSERT INTO [cmsDocumentType] ([contentTypeNodeId],[templateNodeId],[IsDefault]) VALUES (1098,1085,1);
GO
SET IDENTITY_INSERT [cmsMacro] ON;
GO
INSERT INTO [cmsMacro] ([id],[uniqueId],[macroUseInEditor],[macroRefreshRate],[macroAlias],[macroName],[macroCacheByPage],[macroCachePersonalized],[macroDontRender],[macroSource],[macroType]) VALUES (1,'cc64d2ed-6837-4a9f-9344-8e738cf2b7d2',1,0,N'latestBlogposts',N'Get Latest Blogposts',0,0,0,N'~/Views/MacroPartials/LatestBlogposts.cshtml',7);
GO
INSERT INTO [cmsMacro] ([id],[uniqueId],[macroUseInEditor],[macroRefreshRate],[macroAlias],[macroName],[macroCacheByPage],[macroCachePersonalized],[macroDontRender],[macroSource],[macroType]) VALUES (2,'d9ac9457-43dd-45e5-a43c-493b180a1485',1,0,N'featuredProduct',N'Select Featured Products',0,0,0,N'~/Views/MacroPartials/FeaturedProducts.cshtml',7);
GO
INSERT INTO [cmsMacro] ([id],[uniqueId],[macroUseInEditor],[macroRefreshRate],[macroAlias],[macroName],[macroCacheByPage],[macroCachePersonalized],[macroDontRender],[macroSource],[macroType]) VALUES (3,'480075d7-3f9d-4190-9356-11978ddbb8cf',1,0,N'renderUmbracoForm',N'Insert Form with Theme',0,0,0,N'~/Views/MacroPartials/InsertUmbracoFormWithTheme.cshtml',7);
GO
SET IDENTITY_INSERT [cmsMacro] OFF;
GO
SET IDENTITY_INSERT [cmsMacroProperty] ON;
GO
INSERT INTO [cmsMacroProperty] ([id],[uniquePropertyId],[editorAlias],[macro],[macroPropertySortOrder],[macroPropertyAlias],[macroPropertyName]) VALUES (1,'95d1f86f-8dec-42ea-aa05-dc4666398e71',N'Umbraco.Integer',1,0,N'numberOfPosts',N'How many posts should be shown');
GO
INSERT INTO [cmsMacroProperty] ([id],[uniquePropertyId],[editorAlias],[macro],[macroPropertySortOrder],[macroPropertyAlias],[macroPropertyName]) VALUES (2,'70d2b633-ad5c-453b-81f8-dc5f500cbd0a',N'Umbraco.ContentPicker',1,1,N'startNodeId',N'Where to get blog posts from');
GO
INSERT INTO [cmsMacroProperty] ([id],[uniquePropertyId],[editorAlias],[macro],[macroPropertySortOrder],[macroPropertyAlias],[macroPropertyName]) VALUES (3,'8af72d14-2e8f-4fb0-a4be-cd22e958f574',N'Umbraco.ContentPicker',2,0,N'product',N'Choose Product');
GO
SET IDENTITY_INSERT [cmsMacroProperty] OFF;
GO
SET IDENTITY_INSERT [cmsMemberType] ON;
GO
INSERT INTO [cmsMemberType] ([pk],[NodeId],[propertytypeId],[memberCanEdit],[viewOnProfile],[isSensitive]) VALUES (1,1044,102,0,0,0);
GO
INSERT INTO [cmsMemberType] ([pk],[NodeId],[propertytypeId],[memberCanEdit],[viewOnProfile],[isSensitive]) VALUES (2,1044,103,0,0,0);
GO
INSERT INTO [cmsMemberType] ([pk],[NodeId],[propertytypeId],[memberCanEdit],[viewOnProfile],[isSensitive]) VALUES (3,1044,28,0,0,0);
GO
SET IDENTITY_INSERT [cmsMemberType] OFF;
GO
SET IDENTITY_INSERT [cmsPropertyType] ON;
GO
INSERT INTO [cmsPropertyType] ([id],[dataTypeId],[contentTypeId],[propertyTypeGroupId],[Alias],[Name],[sortOrder],[mandatory],[validationRegExp],[Description],[variations],[UniqueID]) VALUES (6,1043,1032,3,N'umbracoFile',N'Upload image',0,1,null,null,0,'00000006-0000-0000-0000-000000000000');
GO
INSERT INTO [cmsPropertyType] ([id],[dataTypeId],[contentTypeId],[propertyTypeGroupId],[Alias],[Name],[sortOrder],[mandatory],[validationRegExp],[Description],[variations],[UniqueID]) VALUES (7,-91,1032,3,N'umbracoWidth',N'Width',0,0,null,N'in pixels',0,'00000007-0000-0000-0000-000000000000');
GO
INSERT INTO [cmsPropertyType] ([id],[dataTypeId],[contentTypeId],[propertyTypeGroupId],[Alias],[Name],[sortOrder],[mandatory],[validationRegExp],[Description],[variations],[UniqueID]) VALUES (8,-91,1032,3,N'umbracoHeight',N'Height',0,0,null,N'in pixels',0,'00000008-0000-0000-0000-000000000000');
GO
SET IDENTITY_INSERT [cmsPropertyType] OFF;
GO
SET IDENTITY_INSERT [cmsPropertyTypeGroup] ON;
GO
INSERT INTO [cmsPropertyTypeGroup] ([id],[contenttypeNodeId],[text],[sortorder],[uniqueID]) VALUES (3,1032,N'Image',1,'79ed4d07-254a-42cf-8fa9-ebe1c116a596');
GO
INSERT INTO [cmsPropertyTypeGroup] ([id],[contenttypeNodeId],[text],[sortorder],[uniqueID]) VALUES (4,1033,N'File',1,'50899f9c-023a-4466-b623-aba9049885fe');
GO
INSERT INTO [cmsPropertyTypeGroup] ([id],[contenttypeNodeId],[text],[sortorder],[uniqueID]) VALUES (11,1044,N'Membership',1,'0756729d-d665-46e3-b84a-37aceaa614f8');
GO
SET IDENTITY_INSERT [cmsPropertyTypeGroup] OFF;
GO
SET IDENTITY_INSERT [cmsTags] ON;
GO
INSERT INTO [cmsTags] ([id],[group],[languageId],[tag]) VALUES (1,N'default',null,N'dedication');
GO
INSERT INTO [cmsTags] ([id],[group],[languageId],[tag]) VALUES (2,N'default',null,N'tattoo');
GO
INSERT INTO [cmsTags] ([id],[group],[languageId],[tag]) VALUES (3,N'default',null,N'animals');
GO
SET IDENTITY_INSERT [cmsTags] OFF;
GO
SET IDENTITY_INSERT [cmsTemplate] ON;
GO
INSERT INTO [cmsTemplate] ([pk],[nodeId],[alias]) VALUES (1,1081,N'Blog');
GO
INSERT INTO [cmsTemplate] ([pk],[nodeId],[alias]) VALUES (2,1082,N'Blogpost');
GO
INSERT INTO [cmsTemplate] ([pk],[nodeId],[alias]) VALUES (3,1083,N'contact');
GO
SET IDENTITY_INSERT [cmsTemplate] OFF;
GO
SET IDENTITY_INSERT [UFUserFormSecurity] ON;
GO
INSERT INTO [UFUserFormSecurity] ([Id],[User],[Form],[HasAccess],[AllowInEditor],[SecurityType]) VALUES (1,N'-1','adf160f1-39f5-44c0-b01d-9e2da32bf093',1,1,0);
GO
SET IDENTITY_INSERT [UFUserFormSecurity] OFF;
GO
INSERT INTO [UFUserSecurity] ([User],[ManageDataSources],[ManagePreValueSources],[ManageWorkflows],[ManageForms]) VALUES (N'-1',1,1,1,1);
GO
SET IDENTITY_INSERT [umbracoAudit] ON;
GO
INSERT INTO [umbracoAudit] ([id],[performingUserId],[performingDetails],[performingIp],[eventDateUtc],[affectedUserId],[affectedDetails],[eventType],[eventDetails]) VALUES (1,0,N'User "SYSTEM" ',N'::1',{ts '2019-04-16 11:05:42.413'},-1,N'User "Administrator" ',N'umbraco/user/save',N'updating RawPasswordValue, LastPasswordChangeDate, UpdateDate, SecurityStamp');
GO
INSERT INTO [umbracoAudit] ([id],[performingUserId],[performingDetails],[performingIp],[eventDateUtc],[affectedUserId],[affectedDetails],[eventType],[eventDetails]) VALUES (2,0,N'User "SYSTEM" ',N'::1',{ts '2019-04-16 11:05:42.583'},-1,N'User "Daniel Mckibbin" <daniel@atomstudios.net>',N'umbraco/user/save',N'updating Email, Name, Username, UpdateDate, SecurityStamp');
GO
INSERT INTO [umbracoAudit] ([id],[performingUserId],[performingDetails],[performingIp],[eventDateUtc],[affectedUserId],[affectedDetails],[eventType],[eventDetails]) VALUES (3,0,N'User "SYSTEM" ',N'::1',{ts '2019-04-16 11:06:19.707'},-1,N'User "Daniel Mckibbin" <daniel@atomstudios.net>',N'umbraco/user/save',N'updating LastLoginDate, UpdateDate');
GO
SET IDENTITY_INSERT [umbracoAudit] OFF;
GO
SET IDENTITY_INSERT [umbracoCacheInstruction] ON;
GO
INSERT INTO [umbracoCacheInstruction] ([id],[utcStamp],[jsonInstruction],[originated],[instructionCount]) VALUES (25,{ts '2019-05-19 19:47:12.253'},N'[{"RefreshType":3,"RefresherId":"e057af6d-2ee6-41f4-8045-3694010f0aa6","GuidId":"00000000-0000-0000-0000-000000000000","IntId":0,"JsonIds":"[-1]","JsonIdCount":1,"JsonPayload":null}]',N'DESKTOP-8PLUFNR//LM/W3SVC/1/ROOT [P30380/D2] CA4BAC2EC0DC4571B131EF6D263FFF69',1);
GO
SET IDENTITY_INSERT [umbracoCacheInstruction] OFF;
GO
INSERT INTO [umbracoContent] ([nodeId],[contentTypeId]) VALUES (1104,1098);
GO
INSERT INTO [umbracoContent] ([nodeId],[contentTypeId]) VALUES (1128,1031);
GO
INSERT INTO [umbracoContent] ([nodeId],[contentTypeId]) VALUES (1129,1031);
GO
SET IDENTITY_INSERT [umbracoContentVersion] ON;
GO
INSERT INTO [umbracoContentVersion] ([id],[nodeId],[versionDate],[userId],[current],[text]) VALUES (1,1104,{ts '2019-04-16 12:06:10.847'},-1,0,N'Home');
GO
INSERT INTO [umbracoContentVersion] ([id],[nodeId],[versionDate],[userId],[current],[text]) VALUES (76,1104,{ts '2019-05-20 20:49:00.437'},-1,1,N'Home');
GO
INSERT INTO [umbracoContentVersion] ([id],[nodeId],[versionDate],[userId],[current],[text]) VALUES (25,1128,{ts '2019-04-16 12:06:06.390'},null,1,N'Design');
GO
SET IDENTITY_INSERT [umbracoContentVersion] OFF;
GO
INSERT INTO [umbracoDataType] ([nodeId],[propertyEditorAlias],[dbType],[config]) VALUES (-49,N'Umbraco.TrueFalse',N'Integer',null);
GO
INSERT INTO [umbracoDataType] ([nodeId],[propertyEditorAlias],[dbType],[config]) VALUES (-51,N'Umbraco.Integer',N'Integer',null);
GO
INSERT INTO [umbracoDataType] ([nodeId],[propertyEditorAlias],[dbType],[config]) VALUES (-87,N'Umbraco.TinyMCE',N'Ntext',N'{"value":",code,undo,redo,cut,copy,mcepasteword,stylepicker,bold,italic,bullist,numlist,outdent,indent,mcelink,unlink,mceinsertanchor,mceimage,umbracomacro,mceinserttable,umbracoembed,mcecharmap,|1|1,2,3,|0|500,400|1049,|true|"}');
GO
INSERT INTO [umbracoDocument] ([nodeId],[published],[edited]) VALUES (1104,1,0);
GO
INSERT INTO [umbracoDocumentVersion] ([id],[templateId],[published]) VALUES (1,1085,0);
GO
INSERT INTO [umbracoDocumentVersion] ([id],[templateId],[published]) VALUES (76,1085,0);
GO
INSERT INTO [umbracoDocumentVersion] ([id],[templateId],[published]) VALUES (42,1085,0);
GO
INSERT INTO [umbracoKeyValue] ([key],[value],[updated]) VALUES (N'Umbraco.Core.Upgrader.State+Umbraco.Core',N'{80C0A0CB-0DD5-4573-B000-C4B7C313C70D}',{ts '2019-04-16 11:59:24.780'});
GO
INSERT INTO [umbracoKeyValue] ([key],[value],[updated]) VALUES (N'Umbraco.Core.Upgrader.State+UmbracoForms',N'{forms-init-complete}',{ts '2019-04-16 12:21:42.843'});
GO
SET IDENTITY_INSERT [umbracoLanguage] ON;
GO
INSERT INTO [umbracoLanguage] ([id],[languageISOCode],[languageCultureName],[isDefaultVariantLang],[mandatory],[fallbackLanguageId]) VALUES (1,N'en-US',N'English (United States)',1,0,null);
GO
SET IDENTITY_INSERT [umbracoLanguage] OFF;
GO
INSERT INTO [umbracoLock] ([id],[value],[name]) VALUES (-331,1,N'Servers');
GO
INSERT INTO [umbracoLock] ([id],[value],[name]) VALUES (-332,-1,N'ContentTypes');
GO
INSERT INTO [umbracoLock] ([id],[value],[name]) VALUES (-333,-1,N'ContentTree');
GO
SET IDENTITY_INSERT [umbracoLog] ON;
GO
INSERT INTO [umbracoLog] ([id],[userId],[NodeId],[entityType],[Datestamp],[logHeader],[logComment],[parameters]) VALUES (1,-1,-1,N'Package',{ts '2019-04-16 12:05:47.467'},N'PackagerInstall',N'Package files installed for package ''The Starter Kit''.',null);
GO
INSERT INTO [umbracoLog] ([id],[userId],[NodeId],[entityType],[Datestamp],[logHeader],[logComment],[parameters]) VALUES (2,-1,1048,N'DataType',{ts '2019-04-16 12:05:57.057'},N'Save',null,null);
GO
INSERT INTO [umbracoLog] ([id],[userId],[NodeId],[entityType],[Datestamp],[logHeader],[logComment],[parameters]) VALUES (3,-1,-1,N'DataType',{ts '2019-04-16 12:05:58.057'},N'Save',null,null);
GO
SET IDENTITY_INSERT [umbracoLog] OFF;
GO
INSERT INTO [umbracoMediaVersion] ([id],[path]) VALUES (25,null);
GO
INSERT INTO [umbracoMediaVersion] ([id],[path]) VALUES (26,null);
GO
INSERT INTO [umbracoMediaVersion] ([id],[path]) VALUES (27,null);
GO
SET IDENTITY_INSERT [umbracoNode] ON;
GO
INSERT INTO [umbracoNode] ([id],[uniqueId],[parentId],[level],[path],[sortOrder],[trashed],[nodeUser],[text],[nodeObjectType],[createDate]) VALUES (-1,'916724a5-173d-4619-b97e-b9de133dd6f5',-1,0,N'-1',0,0,-1,N'SYSTEM DATA: umbraco master root','ea7d8624-4cfe-4578-a871-24aa946bf34d',{ts '2019-04-16 11:59:24.310'});
GO
INSERT INTO [umbracoNode] ([id],[uniqueId],[parentId],[level],[path],[sortOrder],[trashed],[nodeUser],[text],[nodeObjectType],[createDate]) VALUES (-20,'0f582a79-1e41-4cf0-bfa0-76340651891a',-1,0,N'-1,-20',0,0,-1,N'Recycle Bin','01bb7ff2-24dc-4c0c-95a2-c24ef72bbac8',{ts '2019-04-16 11:59:24.317'});
GO
INSERT INTO [umbracoNode] ([id],[uniqueId],[parentId],[level],[path],[sortOrder],[trashed],[nodeUser],[text],[nodeObjectType],[createDate]) VALUES (-21,'bf7c7cbc-952f-4518-97a2-69e9c7b33842',-1,0,N'-1,-21',0,0,-1,N'Recycle Bin','cf3d8e34-1c1c-41e9-ae56-878b57b32113',{ts '2019-04-16 11:59:24.317'});
GO
SET IDENTITY_INSERT [umbracoNode] OFF;
GO
SET IDENTITY_INSERT [umbracoPropertyData] ON;
GO
INSERT INTO [umbracoPropertyData] ([id],[versionId],[propertyTypeId],[languageId],[segment],[intValue],[decimalValue],[dateValue],[varcharValue],[textValue]) VALUES (736,66,112,null,null,null,null,null,null,N'[{"key":"40d86b7c-4f49-4b58-89d0-1c4075fc3a22","name":"Item 1","ncContentTypeAlias":"heroSlide","backgroundImage":null,"headingText":"<p>Text fucking<span class=\"text-emphasis\"> emphasis</span> n that</p>","contentText":"","contentList":"","buttons":null}]');
GO
INSERT INTO [umbracoPropertyData] ([id],[versionId],[propertyTypeId],[languageId],[segment],[intValue],[decimalValue],[dateValue],[varcharValue],[textValue]) VALUES (737,76,112,null,null,null,null,null,null,N'[{"key":"40d86b7c-4f49-4b58-89d0-1c4075fc3a22","name":"Item 1","ncContentTypeAlias":"heroSlide","backgroundImage":null,"headingText":"<p>Text fucking<span class=\"text-emphasis\"> emphasis</span> n that</p>","contentText":"","contentList":"","buttons":null}]');
GO
INSERT INTO [umbracoPropertyData] ([id],[versionId],[propertyTypeId],[languageId],[segment],[intValue],[decimalValue],[dateValue],[varcharValue],[textValue]) VALUES (147,28,6,null,null,null,null,null,null,N'{"src":"/media/662af6ca411a4c93a6c722c4845698e7/00000006000000000000000000000000/16403439029_f500be349b_o.jpg","focalPoint":null,"crops":null}');
GO
SET IDENTITY_INSERT [umbracoPropertyData] OFF;
GO
SET IDENTITY_INSERT [umbracoRelationType] ON;
GO
INSERT INTO [umbracoRelationType] ([id],[typeUniqueId],[dual],[parentObjectType],[childObjectType],[name],[alias]) VALUES (1,'4cbeb612-e689-3563-b755-bf3ede295433',1,'c66ba18e-eaf3-4cff-8a22-41b16d66a972','c66ba18e-eaf3-4cff-8a22-41b16d66a972',N'Relate Document On Copy',N'relateDocumentOnCopy');
GO
INSERT INTO [umbracoRelationType] ([id],[typeUniqueId],[dual],[parentObjectType],[childObjectType],[name],[alias]) VALUES (2,'0cc3507c-66ab-3091-8913-3d998148e423',0,'c66ba18e-eaf3-4cff-8a22-41b16d66a972','c66ba18e-eaf3-4cff-8a22-41b16d66a972',N'Relate Parent Document On Delete',N'relateParentDocumentOnDelete');
GO
INSERT INTO [umbracoRelationType] ([id],[typeUniqueId],[dual],[parentObjectType],[childObjectType],[name],[alias]) VALUES (3,'8307994f-faf2-3844-bab9-72d34514edf2',0,'b796f64c-1f99-4ffb-b886-4bf4bc011a9c','b796f64c-1f99-4ffb-b886-4bf4bc011a9c',N'Relate Parent Media Folder On Delete',N'relateParentMediaFolderOnDelete');
GO
SET IDENTITY_INSERT [umbracoRelationType] OFF;
GO
SET IDENTITY_INSERT [umbracoServer] ON;
GO
INSERT INTO [umbracoServer] ([id],[address],[computerName],[registeredDate],[lastNotifiedDate],[isActive],[isMaster]) VALUES (1,N'http://localhost:65346/umbraco',N'DESKTOP-8PLUFNR//LM/W3SVC/2/ROOT',{ts '2019-04-16 12:21:04.087'},{ts '2019-04-17 02:29:51.290'},0,0);
GO
INSERT INTO [umbracoServer] ([id],[address],[computerName],[registeredDate],[lastNotifiedDate],[isActive],[isMaster]) VALUES (2,N'http://localhost:65346/umbraco',N'DESKTOP-8PLUFNR//LM/W3SVC/1/ROOT',{ts '2019-05-03 21:38:17.747'},{ts '2019-05-21 18:57:25.827'},1,1);
GO
SET IDENTITY_INSERT [umbracoServer] OFF;
GO
SET IDENTITY_INSERT [umbracoUser] ON;
GO
SET IDENTITY_INSERT [umbracoUser] OFF;
GO
INSERT INTO [umbracoUser2UserGroup] ([userId],[userGroupId]) VALUES (-1,1);
GO
INSERT INTO [umbracoUser2UserGroup] ([userId],[userGroupId]) VALUES (-1,5);
GO
SET IDENTITY_INSERT [umbracoUserGroup] ON;
GO
INSERT INTO [umbracoUserGroup] ([id],[userGroupAlias],[userGroupName],[userGroupDefaultPermissions],[createDate],[updateDate],[icon],[startContentId],[startMediaId]) VALUES (1,N'admin',N'Administrators',N'CADMOSKTPIURZ:5F7ï',{ts '2019-04-16 11:59:24.687'},{ts '2019-04-16 11:59:24.687'},N'icon-medal',-1,-1);
GO
INSERT INTO [umbracoUserGroup] ([id],[userGroupAlias],[userGroupName],[userGroupDefaultPermissions],[createDate],[updateDate],[icon],[startContentId],[startMediaId]) VALUES (2,N'writer',N'Writers',N'CAH:F',{ts '2019-04-16 11:59:24.690'},{ts '2019-04-16 11:59:24.690'},N'icon-edit',-1,-1);
GO
INSERT INTO [umbracoUserGroup] ([id],[userGroupAlias],[userGroupName],[userGroupDefaultPermissions],[createDate],[updateDate],[icon],[startContentId],[startMediaId]) VALUES (3,N'editor',N'Editors',N'CADMOSKTPUZ:5Fï',{ts '2019-04-16 11:59:24.690'},{ts '2019-04-16 11:59:24.690'},N'icon-tools',-1,-1);
GO
SET IDENTITY_INSERT [umbracoUserGroup] OFF;
GO
INSERT INTO [umbracoUserGroup2App] ([userGroupId],[app]) VALUES (1,N'content');
GO
INSERT INTO [umbracoUserGroup2App] ([userGroupId],[app]) VALUES (1,N'packages');
GO
INSERT INTO [umbracoUserGroup2App] ([userGroupId],[app]) VALUES (1,N'media');
GO
INSERT INTO [umbracoUserLogin] ([sessionId],[userId],[loggedInUtc],[lastValidatedUtc],[loggedOutUtc],[ipAddress]) VALUES ('b28b6d50-b0a2-445a-ae6c-6f5dd66ebb36',-1,{ts '2019-05-19 20:18:50.983'},{ts '2019-05-19 20:22:08.873'},null,N'::1');
GO
INSERT INTO [umbracoUserLogin] ([sessionId],[userId],[loggedInUtc],[lastValidatedUtc],[loggedOutUtc],[ipAddress]) VALUES ('c489be0b-3dc2-43ac-b775-58ad7b9edb6a',-1,{ts '2019-05-19 19:47:12.310'},{ts '2019-05-19 19:56:47.337'},null,N'::1');
GO
INSERT INTO [umbracoUserLogin] ([sessionId],[userId],[loggedInUtc],[lastValidatedUtc],[loggedOutUtc],[ipAddress]) VALUES ('81b1e546-5a82-4dd8-b728-db9381b0ac99',-1,{ts '2019-05-20 18:40:21.353'},{ts '2019-05-20 18:59:26.970'},null,N'::1');
GO
ALTER TABLE [cmsContentNu] ADD CONSTRAINT [PK_cmsContentNu] PRIMARY KEY ([nodeId],[published]);
GO
ALTER TABLE [cmsContentType] ADD CONSTRAINT [PK_cmsContentType] PRIMARY KEY ([pk]);
GO
ALTER TABLE [cmsContentType2ContentType] ADD CONSTRAINT [PK_cmsContentType2ContentType] PRIMARY KEY ([parentContentTypeId],[childContentTypeId]);
GO
ALTER TABLE [cmsContentTypeAllowedContentType] ADD CONSTRAINT [PK_cmsContentTypeAllowedContentType] PRIMARY KEY ([Id],[AllowedId]);
GO
ALTER TABLE [cmsDictionary] ADD CONSTRAINT [PK_cmsDictionary] PRIMARY KEY ([pk]);
GO
ALTER TABLE [cmsDocumentType] ADD CONSTRAINT [PK_cmsDocumentType] PRIMARY KEY ([contentTypeNodeId],[templateNodeId]);
GO
ALTER TABLE [cmsLanguageText] ADD CONSTRAINT [PK_cmsLanguageText] PRIMARY KEY ([pk]);
GO
ALTER TABLE [cmsMacro] ADD CONSTRAINT [PK_cmsMacro] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsMacroProperty] ADD CONSTRAINT [PK_cmsMacroProperty] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsMember] ADD CONSTRAINT [PK_cmsMember] PRIMARY KEY ([nodeId]);
GO
ALTER TABLE [cmsMember2MemberGroup] ADD CONSTRAINT [PK_cmsMember2MemberGroup] PRIMARY KEY ([Member],[MemberGroup]);
GO
ALTER TABLE [cmsMemberType] ADD CONSTRAINT [PK_cmsMemberType] PRIMARY KEY ([pk]);
GO
ALTER TABLE [cmsPropertyType] ADD CONSTRAINT [PK_cmsPropertyType] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsPropertyTypeGroup] ADD CONSTRAINT [PK_cmsPropertyTypeGroup] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsTagRelationship] ADD CONSTRAINT [PK_cmsTagRelationship] PRIMARY KEY ([nodeId],[propertyTypeId],[tagId]);
GO
ALTER TABLE [cmsTags] ADD CONSTRAINT [PK_cmsTags] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsTemplate] ADD CONSTRAINT [PK_cmsTemplate] PRIMARY KEY ([pk]);
GO
ALTER TABLE [UFRecordDataString] ADD CONSTRAINT [PK_UFRecordDataString] PRIMARY KEY ([Id]);
GO
ALTER TABLE [UFRecordFields] ADD CONSTRAINT [PK_UFRecordFields] PRIMARY KEY ([Key]);
GO
ALTER TABLE [UFRecords] ADD CONSTRAINT [PK_UFRecords] PRIMARY KEY ([Id]);
GO
ALTER TABLE [umbracoAccess] ADD CONSTRAINT [PK_umbracoAccess] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoAccessRule] ADD CONSTRAINT [PK_umbracoAccessRule] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoAudit] ADD CONSTRAINT [PK_umbracoAudit] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoCacheInstruction] ADD CONSTRAINT [PK_umbracoCacheInstruction] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoConsent] ADD CONSTRAINT [PK_umbracoConsent] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoContent] ADD CONSTRAINT [PK_umbracoContent] PRIMARY KEY ([nodeId]);
GO
ALTER TABLE [umbracoContentSchedule] ADD CONSTRAINT [PK_umbracoContentSchedule] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoContentVersion] ADD CONSTRAINT [PK_umbracoContentVersion] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoContentVersionCultureVariation] ADD CONSTRAINT [PK_umbracoContentVersionCultureVariation] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoDataType] ADD CONSTRAINT [PK_umbracoDataType] PRIMARY KEY ([nodeId]);
GO
ALTER TABLE [umbracoDocument] ADD CONSTRAINT [PK_umbracoDocument] PRIMARY KEY ([nodeId]);
GO
ALTER TABLE [umbracoDocumentCultureVariation] ADD CONSTRAINT [PK_umbracoDocumentCultureVariation] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoDocumentVersion] ADD CONSTRAINT [PK_umbracoDocumentVersion] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoDomain] ADD CONSTRAINT [PK_umbracoDomain] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoExternalLogin] ADD CONSTRAINT [PK_umbracoExternalLogin] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoKeyValue] ADD CONSTRAINT [PK_umbracoKeyValue] PRIMARY KEY ([key]);
GO
ALTER TABLE [umbracoLanguage] ADD CONSTRAINT [PK_umbracoLanguage] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoLock] ADD CONSTRAINT [PK_umbracoLock] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoLog] ADD CONSTRAINT [PK_umbracoLog] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoMediaVersion] ADD CONSTRAINT [PK_umbracoMediaVersion] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoNode] ADD CONSTRAINT [PK_umbracoNode] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoPropertyData] ADD CONSTRAINT [PK_umbracoPropertyData] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoRedirectUrl] ADD CONSTRAINT [PK_umbracoRedirectUrl] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoRelation] ADD CONSTRAINT [PK_umbracoRelation] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoRelationType] ADD CONSTRAINT [PK_umbracoRelationType] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoServer] ADD CONSTRAINT [PK_umbracoServer] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoUser] ADD CONSTRAINT [PK_user] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoUser2NodeNotify] ADD CONSTRAINT [PK_umbracoUser2NodeNotify] PRIMARY KEY ([userId],[nodeId],[action]);
GO
ALTER TABLE [umbracoUser2UserGroup] ADD CONSTRAINT [PK_user2userGroup] PRIMARY KEY ([userId],[userGroupId]);
GO
ALTER TABLE [umbracoUserGroup] ADD CONSTRAINT [PK_umbracoUserGroup] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoUserGroup2App] ADD CONSTRAINT [PK_userGroup2App] PRIMARY KEY ([userGroupId],[app]);
GO
ALTER TABLE [umbracoUserGroup2NodePermission] ADD CONSTRAINT [PK_umbracoUserGroup2NodePermission] PRIMARY KEY ([userGroupId],[nodeId],[permission]);
GO
ALTER TABLE [umbracoUserLogin] ADD CONSTRAINT [PK_umbracoUserLogin] PRIMARY KEY ([sessionId]);
GO
ALTER TABLE [umbracoUserStartNode] ADD CONSTRAINT [PK_userStartNode] PRIMARY KEY ([id]);
GO
CREATE UNIQUE INDEX [IX_cmsContentType] ON [cmsContentType] ([nodeId] ASC);
GO
CREATE INDEX [IX_cmsContentType_icon] ON [cmsContentType] ([icon] ASC);
GO
CREATE UNIQUE INDEX [IX_cmsDictionary_id] ON [cmsDictionary] ([id] ASC);
GO
CREATE INDEX [IX_cmsDictionary_key] ON [cmsDictionary] ([key] ASC);
GO
CREATE UNIQUE INDEX [IX_cmsMacro_UniqueId] ON [cmsMacro] ([uniqueId] ASC);
GO
CREATE UNIQUE INDEX [IX_cmsMacroPropertyAlias] ON [cmsMacro] ([macroAlias] ASC);
GO
CREATE UNIQUE INDEX [IX_cmsMacroProperty_Alias] ON [cmsMacroProperty] ([macro] ASC,[macroPropertyAlias] ASC);
GO
CREATE UNIQUE INDEX [IX_cmsMacroProperty_UniquePropertyId] ON [cmsMacroProperty] ([uniquePropertyId] ASC);
GO
CREATE INDEX [IX_cmsMember_LoginName] ON [cmsMember] ([LoginName] ASC);
GO
CREATE INDEX [IX_cmsPropertyTypeAlias] ON [cmsPropertyType] ([Alias] ASC);
GO
CREATE UNIQUE INDEX [IX_cmsPropertyTypeUniqueID] ON [cmsPropertyType] ([UniqueID] ASC);
GO
CREATE UNIQUE INDEX [IX_cmsPropertyTypeGroupUniqueID] ON [cmsPropertyTypeGroup] ([uniqueID] ASC);
GO
CREATE UNIQUE INDEX [IX_cmsTags] ON [cmsTags] ([group] ASC,[tag] ASC,[languageId] ASC);
GO
CREATE INDEX [IX_cmsTags_LanguageId] ON [cmsTags] ([languageId] ASC);
GO
CREATE UNIQUE INDEX [IX_cmsTemplate_nodeId] ON [cmsTemplate] ([nodeId] ASC);
GO
CREATE INDEX [IX_datastring_recordfield] ON [UFRecordDataString] ([Key] ASC);
GO
CREATE INDEX [IX_record_recordfield] ON [UFRecordFields] ([Record] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoAccess_nodeId] ON [umbracoAccess] ([nodeId] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoAccessRule] ON [umbracoAccessRule] ([ruleValue] ASC,[ruleType] ASC,[accessId] ASC);
GO
CREATE INDEX [IX_umbracoContentVersionCultureVariation_LanguageId] ON [umbracoContentVersionCultureVariation] ([languageId] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoContentVersionCultureVariation_VersionId] ON [umbracoContentVersionCultureVariation] ([versionId] ASC,[languageId] ASC);
GO
CREATE INDEX [IX_umbracoDocument_Published] ON [umbracoDocument] ([published] ASC);
GO
CREATE INDEX [IX_umbracoDocumentCultureVariation_LanguageId] ON [umbracoDocumentCultureVariation] ([languageId] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoDocumentCultureVariation_NodeId] ON [umbracoDocumentCultureVariation] ([nodeId] ASC,[languageId] ASC);
GO
CREATE INDEX [IX_umbracoLanguage_fallbackLanguageId] ON [umbracoLanguage] ([fallbackLanguageId] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoLanguage_languageISOCode] ON [umbracoLanguage] ([languageISOCode] ASC);
GO
CREATE INDEX [IX_umbracoLog] ON [umbracoLog] ([NodeId] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoMediaVersion] ON [umbracoMediaVersion] ([id] ASC,[path] ASC);
GO
CREATE INDEX [IX_umbracoNode_ObjectType] ON [umbracoNode] ([nodeObjectType] ASC);
GO
CREATE INDEX [IX_umbracoNode_ParentId] ON [umbracoNode] ([parentId] ASC);
GO
CREATE INDEX [IX_umbracoNode_Path] ON [umbracoNode] ([path] ASC);
GO
CREATE INDEX [IX_umbracoNode_Trashed] ON [umbracoNode] ([trashed] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoNode_UniqueId] ON [umbracoNode] ([uniqueId] ASC);
GO
CREATE INDEX [IX_umbracoPropertyData_LanguageId] ON [umbracoPropertyData] ([languageId] ASC);
GO
CREATE INDEX [IX_umbracoPropertyData_PropertyTypeId] ON [umbracoPropertyData] ([propertyTypeId] ASC);
GO
CREATE INDEX [IX_umbracoPropertyData_Segment] ON [umbracoPropertyData] ([segment] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoPropertyData_VersionId] ON [umbracoPropertyData] ([versionId] ASC,[propertyTypeId] ASC,[languageId] ASC,[segment] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoRedirectUrl] ON [umbracoRedirectUrl] ([urlHash] ASC,[contentKey] ASC,[culture] ASC,[createDateUtc] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoRelation_parentChildType] ON [umbracoRelation] ([parentId] ASC,[childId] ASC,[relType] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoRelationType_alias] ON [umbracoRelationType] ([alias] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoRelationType_name] ON [umbracoRelationType] ([name] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoRelationType_UniqueId] ON [umbracoRelationType] ([typeUniqueId] ASC);
GO
CREATE UNIQUE INDEX [IX_computerName] ON [umbracoServer] ([computerName] ASC);
GO
CREATE INDEX [IX_umbracoServer_isActive] ON [umbracoServer] ([isActive] ASC);
GO
CREATE INDEX [IX_umbracoUser_userLogin] ON [umbracoUser] ([userLogin] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoUserGroup_userGroupAlias] ON [umbracoUserGroup] ([userGroupAlias] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoUserGroup_userGroupName] ON [umbracoUserGroup] ([userGroupName] ASC);
GO
CREATE INDEX [IX_umbracoUser2NodePermission_nodeId] ON [umbracoUserGroup2NodePermission] ([nodeId] ASC);
GO
CREATE INDEX [IX_userLoginDto_lastValidatedUtc] ON [umbracoUserLogin] ([lastValidatedUtc] ASC);
GO
CREATE UNIQUE INDEX [IX_umbracoUserStartNode_startNodeType] ON [umbracoUserStartNode] ([startNodeType] ASC,[startNode] ASC,[userId] ASC);
GO
ALTER TABLE [cmsContentNu] ADD CONSTRAINT [FK_cmsContentNu_umbracoContent_nodeId] FOREIGN KEY ([nodeId]) REFERENCES [umbracoContent]([nodeId]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsContentType] ADD CONSTRAINT [FK_cmsContentType_umbracoNode_id] FOREIGN KEY ([nodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsContentType2ContentType] ADD CONSTRAINT [FK_cmsContentType2ContentType_umbracoNode_child] FOREIGN KEY ([childContentTypeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsContentType2ContentType] ADD CONSTRAINT [FK_cmsContentType2ContentType_umbracoNode_parent] FOREIGN KEY ([parentContentTypeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsDocumentType] ADD CONSTRAINT [FK_cmsDocumentType_umbracoNode_id] FOREIGN KEY ([contentTypeNodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsLanguageText] ADD CONSTRAINT [FK_cmsLanguageText_umbracoLanguage_id] FOREIGN KEY ([languageId]) REFERENCES [umbracoLanguage]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsMacroProperty] ADD CONSTRAINT [FK_cmsMacroProperty_cmsMacro_id] FOREIGN KEY ([macro]) REFERENCES [cmsMacro]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsMember] ADD CONSTRAINT [FK_cmsMember_umbracoContent_nodeId] FOREIGN KEY ([nodeId]) REFERENCES [umbracoContent]([nodeId]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsMember2MemberGroup] ADD CONSTRAINT [FK_cmsMember2MemberGroup_cmsMember_nodeId] FOREIGN KEY ([Member]) REFERENCES [cmsMember]([nodeId]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsMember2MemberGroup] ADD CONSTRAINT [FK_cmsMember2MemberGroup_umbracoNode_id] FOREIGN KEY ([MemberGroup]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsMemberType] ADD CONSTRAINT [FK_cmsMemberType_umbracoNode_id] FOREIGN KEY ([NodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsPropertyType] ADD CONSTRAINT [FK_cmsPropertyType_cmsPropertyTypeGroup_id] FOREIGN KEY ([propertyTypeGroupId]) REFERENCES [cmsPropertyTypeGroup]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsPropertyType] ADD CONSTRAINT [FK_cmsPropertyType_umbracoDataType_nodeId] FOREIGN KEY ([dataTypeId]) REFERENCES [umbracoDataType]([nodeId]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsTagRelationship] ADD CONSTRAINT [FK_cmsTagRelationship_cmsContent] FOREIGN KEY ([nodeId]) REFERENCES [umbracoContent]([nodeId]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsTagRelationship] ADD CONSTRAINT [FK_cmsTagRelationship_cmsPropertyType] FOREIGN KEY ([propertyTypeId]) REFERENCES [cmsPropertyType]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsTagRelationship] ADD CONSTRAINT [FK_cmsTagRelationship_cmsTags_id] FOREIGN KEY ([tagId]) REFERENCES [cmsTags]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsTags] ADD CONSTRAINT [FK_cmsTags_umbracoLanguage_id] FOREIGN KEY ([languageId]) REFERENCES [umbracoLanguage]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsTemplate] ADD CONSTRAINT [FK_cmsTemplate_umbracoNode] FOREIGN KEY ([nodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [UFRecordDataString] ADD CONSTRAINT [FK_UFRecordDataString_UFRecordFields_Key] FOREIGN KEY ([Key]) REFERENCES [UFRecordFields]([Key]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoAccess] ADD CONSTRAINT [FK_umbracoAccess_umbracoNode_id] FOREIGN KEY ([nodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoAccess] ADD CONSTRAINT [FK_umbracoAccess_umbracoNode_id1] FOREIGN KEY ([loginNodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoAccess] ADD CONSTRAINT [FK_umbracoAccess_umbracoNode_id2] FOREIGN KEY ([noAccessNodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoAccessRule] ADD CONSTRAINT [FK_umbracoAccessRule_umbracoAccess_id] FOREIGN KEY ([accessId]) REFERENCES [umbracoAccess]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoContent] ADD CONSTRAINT [FK_umbracoContent_umbracoNode_id] FOREIGN KEY ([nodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoContentSchedule] ADD CONSTRAINT [FK_umbracoContentSchedule_umbracoContent_nodeId] FOREIGN KEY ([nodeId]) REFERENCES [umbracoContent]([nodeId]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoContentSchedule] ADD CONSTRAINT [FK_umbracoContentSchedule_umbracoLanguage_id] FOREIGN KEY ([languageId]) REFERENCES [umbracoLanguage]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoContentVersion] ADD CONSTRAINT [FK_umbracoContentVersion_umbracoContent_nodeId] FOREIGN KEY ([nodeId]) REFERENCES [umbracoContent]([nodeId]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoContentVersion] ADD CONSTRAINT [FK_umbracoContentVersion_umbracoUser_id] FOREIGN KEY ([userId]) REFERENCES [umbracoUser]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoContentVersionCultureVariation] ADD CONSTRAINT [FK_umbracoContentVersionCultureVariation_umbracoContentVersion_id] FOREIGN KEY ([versionId]) REFERENCES [umbracoContentVersion]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoContentVersionCultureVariation] ADD CONSTRAINT [FK_umbracoContentVersionCultureVariation_umbracoLanguage_id] FOREIGN KEY ([languageId]) REFERENCES [umbracoLanguage]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoContentVersionCultureVariation] ADD CONSTRAINT [FK_umbracoContentVersionCultureVariation_umbracoUser_id] FOREIGN KEY ([availableUserId]) REFERENCES [umbracoUser]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoDataType] ADD CONSTRAINT [FK_umbracoDataType_umbracoNode_id] FOREIGN KEY ([nodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoDocument] ADD CONSTRAINT [FK_umbracoDocument_umbracoContent_nodeId] FOREIGN KEY ([nodeId]) REFERENCES [umbracoContent]([nodeId]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoDocumentCultureVariation] ADD CONSTRAINT [FK_umbracoDocumentCultureVariation_umbracoLanguage_id] FOREIGN KEY ([languageId]) REFERENCES [umbracoLanguage]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoDocumentCultureVariation] ADD CONSTRAINT [FK_umbracoDocumentCultureVariation_umbracoNode_id] FOREIGN KEY ([nodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoDocumentVersion] ADD CONSTRAINT [FK_umbracoDocumentVersion_umbracoContentVersion_id] FOREIGN KEY ([id]) REFERENCES [umbracoContentVersion]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoDomain] ADD CONSTRAINT [FK_umbracoDomain_umbracoNode_id] FOREIGN KEY ([domainRootStructureID]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoLanguage] ADD CONSTRAINT [FK_umbracoLanguage_umbracoLanguage_id] FOREIGN KEY ([fallbackLanguageId]) REFERENCES [umbracoLanguage]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoLog] ADD CONSTRAINT [FK_umbracoLog_umbracoUser_id] FOREIGN KEY ([userId]) REFERENCES [umbracoUser]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoMediaVersion] ADD CONSTRAINT [FK_umbracoMediaVersion_umbracoContentVersion_id] FOREIGN KEY ([id]) REFERENCES [umbracoContentVersion]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoNode] ADD CONSTRAINT [FK_umbracoNode_umbracoNode_id] FOREIGN KEY ([parentId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoNode] ADD CONSTRAINT [FK_umbracoNode_umbracoUser_id] FOREIGN KEY ([nodeUser]) REFERENCES [umbracoUser]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoPropertyData] ADD CONSTRAINT [FK_umbracoPropertyData_cmsPropertyType_id] FOREIGN KEY ([propertyTypeId]) REFERENCES [cmsPropertyType]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoPropertyData] ADD CONSTRAINT [FK_umbracoPropertyData_umbracoContentVersion_id] FOREIGN KEY ([versionId]) REFERENCES [umbracoContentVersion]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoPropertyData] ADD CONSTRAINT [FK_umbracoPropertyData_umbracoLanguage_id] FOREIGN KEY ([languageId]) REFERENCES [umbracoLanguage]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoRelation] ADD CONSTRAINT [FK_umbracoRelation_umbracoNode] FOREIGN KEY ([parentId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoRelation] ADD CONSTRAINT [FK_umbracoRelation_umbracoNode1] FOREIGN KEY ([childId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoRelation] ADD CONSTRAINT [FK_umbracoRelation_umbracoRelationType_id] FOREIGN KEY ([relType]) REFERENCES [umbracoRelationType]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUser2NodeNotify] ADD CONSTRAINT [FK_umbracoUser2NodeNotify_umbracoNode_id] FOREIGN KEY ([nodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUser2NodeNotify] ADD CONSTRAINT [FK_umbracoUser2NodeNotify_umbracoUser_id] FOREIGN KEY ([userId]) REFERENCES [umbracoUser]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUser2UserGroup] ADD CONSTRAINT [FK_umbracoUser2UserGroup_umbracoUser_id] FOREIGN KEY ([userId]) REFERENCES [umbracoUser]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUser2UserGroup] ADD CONSTRAINT [FK_umbracoUser2UserGroup_umbracoUserGroup_id] FOREIGN KEY ([userGroupId]) REFERENCES [umbracoUserGroup]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUserGroup] ADD CONSTRAINT [FK_startContentId_umbracoNode_id] FOREIGN KEY ([startContentId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUserGroup] ADD CONSTRAINT [FK_startMediaId_umbracoNode_id] FOREIGN KEY ([startMediaId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUserGroup2App] ADD CONSTRAINT [FK_umbracoUserGroup2App_umbracoUserGroup_id] FOREIGN KEY ([userGroupId]) REFERENCES [umbracoUserGroup]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUserGroup2NodePermission] ADD CONSTRAINT [FK_umbracoUserGroup2NodePermission_umbracoNode_id] FOREIGN KEY ([nodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUserGroup2NodePermission] ADD CONSTRAINT [FK_umbracoUserGroup2NodePermission_umbracoUserGroup_id] FOREIGN KEY ([userGroupId]) REFERENCES [umbracoUserGroup]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUserLogin] ADD CONSTRAINT [FK_umbracoUserLogin_umbracoUser_id] FOREIGN KEY ([userId]) REFERENCES [umbracoUser]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUserStartNode] ADD CONSTRAINT [FK_umbracoUserStartNode_umbracoNode_id] FOREIGN KEY ([startNode]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUserStartNode] ADD CONSTRAINT [FK_umbracoUserStartNode_umbracoUser_id] FOREIGN KEY ([userId]) REFERENCES [umbracoUser]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO

